#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}


.text-smaller {
  font-size: small;
}

.text-medium {
  font-size: x-large;
}

@media (max-width: 768px){
  .text-smaller {
    font-size: xx-small;
  }

  .text-medium {
    font-size: large;
  }
}

@media (max-width: 360px) {

}
