$search-icon: url("../../../assets/search.svg") no-repeat scroll 0px 7px;
$search-icon-gray: url("../../../assets/search-gray.svg") no-repeat scroll 0px 7px;

input {
  border: solid 1px rgba(211, 211, 211, 0.4);;
  border-radius: 3px;
  width: 30vw;
  height: 30px;
  padding-left: 1em;
  background: $search-icon-gray;
  background-position-x: 98%;
}

input:hover {
  box-shadow: 0 0 2px 0 royalblue;
  background: $search-icon;
  background-position-x: 98%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px royalblue;
  background: $search-icon;
  background-position-x: 98%;
}


