#container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperature-container {
  display: flex;
  align-items: flex-start;
}

#celsius {
  font-size: 2em;
  margin-top: 0.8em;
}

.text-large {
  font-size: 8em;
}
