#app {
  display: flex;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

app-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
